body {
  margin: 0;
  font-family: "Mulish";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-light {
  background-color: white !important;
}
.bg-primary {
  background-color: #96000f !important ;
}

.react-datepicker__day[aria-disabled="false"]:hover,
.react-datepicker__month-text[aria-disabled="false"]:hover,
.react-datepicker__quarter-text[aria-disabled="false"]:hover,
.react-datepicker__year-text[aria-disabled="false"]:hover {
  border-radius: 50%;
  background-color: #96000f;
  color: white;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #96000f;
  color: #fff;
}
.react-datepicker__day-name,
.react-datepicker__current-month {
  font-family: "Mulish";
}
.react-datepicker__header {
  background-color: #96000f;
  padding: 1rem;
}

.react-datepicker__header div {
  color: white !important;
}
